body{
	background: #FFF;
}



.content{
	width: 92px;
	height: 92px;
	margin: 60px;
	background: url(mapamundo.png);
	border-radius: 50%;
	animation: rotacion 10s infinite linear;
	box-shadow: 0px 10px 15px #888 ;
}
@keyframes rotacion{
	0%{
		background-position: 0px 0px;
	}
	100%{
		background-position: -160px 0px;
	}
}